* {
    font-family: 'imprima';
}
:root {
    /*Color Palate*/
    --background: #E5DFDC;
    --retroGreen: #66a59a;
    --retroRed: #e9311a;
    --retroBeige: #ecae7d;
    --retroOrange: #ed6335;
    --retroLightBlue: #026c80;
    --retroDarkBlue: #064c72;
    
}

body {
    background-color: var(--background);
}

header {
    background-color: var(--retroGreen);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    color: var(--background);
}

header h1{
    margin-left: 2%;
    font-size: 300%;
    font-family: 'Righteous';
}

header a {
    color: var(--background);
    text-decoration: none;
}

header a:hover, header a:active {
    color: #fff;
}

nav {
    padding-right: 5%;

}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style-type: none;
}

nav li {
    padding: 3%;
    
}
  
nav a {
    color: var(--background);
    font-weight: bold;
    text-decoration: none;
    font-size: 120%;
    white-space: nowrap;
    text-shadow: none;
}

section {
    background-color: var(--retroGreen);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
    
}
section img {
    padding-top: 20px;
    border-style: solid;
    border-color: var(--retroGreen);
    border-radius: 75% 75% 50% 50%;
}

div h3 {
    font-size: 200%;
    padding-top: 5%;
    padding-left: 10%;
}

    /*container*/
.breakOne { 
    display: flex;
    max-width: 33%;
    padding-left: 2%;
    flex-wrap: wrap;
    white-space: nowrap;
    align-items: flex-start;
    color: var(--background);
}

/*child1*/
.hey {
    color: var(--retroDarkBlue);
    font-size: 700%;
    font-family: 'Righteous', cursive;
    margin-left: 10%;
    padding-right: 1%;
}

/*child2*/
.jack {
    font-size: 300%;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 10px;
}

/*child3*/
.webDev {
    margin-top: 10px;
    margin-left: 70px;
    font-size: 200%;

}

.headshot {
    display: flex;
    margin-right: 10%;
}

.headingAboutMe {
    display: flex;
    width: 100%;
    padding-bottom: 20px;
}

.containerAbout {
    background-color: var(--background);
    width: 20%;
    min-height: 50px;
    min-width: 50px;
}

#about_me {
    background-color: var(--retroBeige);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 20px;
}


/*1225 width*/