* {
    font-family: 'imprima';
}
:root {
    /*Color Palate*/
    --background: #E5DFDC;
    --retroGreen: #66a59a;
    --retroRed: #e9311a;
    --retroBeige: #ecae7d;
    --retroOrange: #ed6335;
    --retroLightBlue: #026c80;
    --retroDarkBlue: #064c72;
    
}

body {
    background-color: var(--background);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--retroGreen);
    color: var(--background);
}

header h1{
    margin-left: 2%;
    font-size: 220%;
    font-family: 'Righteous';
}

header a {
    color: var(--background);
    text-decoration: none;
}

nav {
    padding-right: 5%;
    padding-left: auto;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style-type: none;
}

nav li {
    padding: 3%;
    
}
  
nav a {
    color: var(--background);
    font-weight: bold;
    text-decoration: none;
    font-size: 120%;
    white-space: nowrap;
    text-shadow: none;
}

nav a:hover, nav a:active {
    color: #fff;
}

article {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    
}
article img {
    padding-right: 2%;
    padding-left: 10%;
    padding-top: 20px;
    max-width: fit-content;
}

.hey {
    color: var(--retroLightBlue);
    font-size: 500%;
    font-family: 'Righteous', cursive;
    padding-right: 1%;
}